.messages {
  height: calc(100% - 50px);
  .container {
    height: 100%;
    background: #fff;
    overflow-y: scroll;
    background: #fff;
    border: 1px solid #bcbcbc;
  }
}

ul {
  font-size: 20px;
  overflow-y: scroll;
  list-style: none;
  padding: 18px;
  margin: 0;

  li {
    display: flex;
    justify-content: space-between;
    span.time {
      color: #7d89eb;
    }
    span.username {
      color: #ffb669;
    }
  }
}